.LabelCont {
  height: 15%;
  width: 100%;
  padding-top: 20px;
  padding-left: 20px;
}

.MainCont {
  display: flex;
  width: 94%;
}

.LabelText {
  font-family: "Unbounded", sans-serif;
  width: 85%;
  font-size: 25px;
  line-height: 28px;
  font-weight: 550;
}

.PurchaseCont {
  display: flex;
  width: 5%;
  justify-content: end;
  align-items: center;
}

.Purchase {
  width: 20px;
  height: 20px;
  opacity: 0.3;
  transition: opacity 0.3s ease;
}

.Purchase:hover {
  opacity: 1;
  cursor: pointer;
}

.WishlistCont {
  display: flex;
  width: 8%;
  justify-content: end;
  align-items: center;
}

.Like {
  width: 20px;
  height: 20px;
  opacity: 0.3;
  transition: opacity 0.3s ease;
}

.Like:hover {
  opacity: 1;
  cursor: pointer;
}

.RatingCont {
}
