.AutoLot {
  background-color: white;
  background-image: url("../assets/background-image2.png");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  justify-content: center;
}

.CentralAutoLotCont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
}

.AutoLotSubCont {
  display: flex;
  width: 70%;
  height: 90%;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0px 0px 15px rgba(23, 26, 31, 0.59);
  justify-content: center;
  align-items: center;
}

.AutoLot_Inside {
  display: flex;
  height: 85%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.LeftColumn {
  width: 50%;
  height: 100%;
}

.HorizontalStick {
  background-color: #d3d3d3;
  width: 100%;
  height: 1px;
}

.VertycalStick {
  background-color: #d3d3d3;
  width: 1px;
  height: 100%;
}

.RightColumn {
  width: 50%;
  height: 100%;
}

.ImageCont {
  display: flex;
  width: 100%;
  height: 55%;
  justify-content: center;
  align-items: center;
}

.AutoPhoto {
  height: 80%;
  width: 80%;
  object-fit: cover;
  border-radius: 8px;
}

.InfoCont {
  display: flex;
  width: 100%;
  height: 15%;
}

.PriceCont {
  display: flex;
  width: 33.33%;
  justify-content: end;
  align-items: center;
  font-family: "Unbounded", sans-serif;
  font-size: 21px;
  color: #897434ff;
}

.OdometerCont {
  display: flex;
  width: 33.33%;
  justify-content: center;
  align-items: center;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  color: #9095a1ff;
}

.GeoCont {
  display: flex;
  width: 33.33%;
  justify-content: start;
  align-items: center;
}

.CommentCont {
  width: 100%;
  height: 30%;
  justify-content: center;
  align-items: center;
}

.CommentSubCont {
  display: flex;
  width: 100%;
  height: 50%;
  justify-content: center;
  align-items: center;
}

.Comment {
  display: flex;
  border: none;
  border-radius: 5px;
  width: 80%;
  height: 75%;
  padding-left: 15px;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  background-color: #f3f4f6ff;
}

.ButtonSubCont {
  display: flex;
  height: 50%;
  width: 93%;
  justify-content: end;
  align-items: start;
}

.RightSubCont {
  display: flex;
  width: 5%;
  padding-top: 15px;
  padding-right: 15px;
}
