.SignUpButtonCont {
  display: flex;
  justify-content: center;
}

.SignUpButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  height: 40px;
  margin-top: 20px;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #655626ff;
  background: #eae1c7ff;
  border: none;
  border-radius: 6px;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}

.SignUpButton:hover {
  background: #dccea4ff;
}

.SignUpButton:active {
  background: #cfbb81ff;
  animation: pressAnimation 0.5s ease;
  transform: scale(0.95);
}

.SignUpButton:disabled {
  opacity: 0.4;
}

@keyframes pressAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
