.LogoCont {
  width: 100%;
  display: flex;
}

.LogoSubCont {
  position: relative;
  display: block;
  width: 50%;
}

.logo {
  width: 100%;
  height: auto;
  max-width: 200px;
}

.CenterSubCont {
  width: 50%;
  display: flex;
  justify-content: center;
}

.MenuText {
  display: flex;
  font-family: "Unbounded", sans-serif;
  font-style: normal;
  font-size: 25px;
  line-height: 50px;
  font-weight: 28;
  color: #171a1fff;
  height: 20%;
  justify-content: center;
  margin-top: 20px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.MenuText:hover {
  cursor: pointer;
}

.active {
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-color: #171a1fff;
}

.RegisterTextCont {
  width: 50%;
  display: flex;
  justify-content: start;
  padding-top: 25px;
}

.FilterText {
  display: flex;
  width: 49%;
  justify-content: start;
  align-items: center;
  font-family: "Unbounded", sans-serif;
  font-style: normal;
  font-size: 15px;
  font-weight: 28;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.filterLink {
  cursor: pointer;
}

.dropdown {
  display: flex;
  position: fixed;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.dropdownItem {
  padding: 8px 16px;
  color: #171a1fff;
  text-decoration: none;
  font-size: 16px;
  display: block;
}

.dropdownItem:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}


.RegisterText {
  font-family: "Fira Sans Extra Condensed", sans-serif;
  margin-right: 40px;
}

.registerLink {
  display: inline-block;
  color: black;
  text-decoration: underline;
  transition:
    transform 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

.registerLink:hover {
  color: black;
  animation: pulse 3s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
