.InputCont {
  position: relative;
  display: flex;
  margin-top: 15px;
  justify-content: center;
  align-items: center;
}

.InputId {
  background: #f3f4f6ff;
  border: none;
  border-radius: 5px;
  width: 80%;
  height: 40px;
  padding-left: 15px;
  font-family: "Fira Sans Extra Condensed", sans-serif;
}

.EyeIcon {
  position: absolute;
  right: 35px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  opacity: 0.3;
}
